<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/mainStyle.css">
    <title>{{docTitle}}</title>
    {{#if productCSS}}
        <link rel="stylesheet" href="/css/product.css">
    {{/if}}

</head>

<body>
    <header class="main-header">
        <nav clang="main-header-nav">
            <ul class="main-header-ul">
                <li class="main-header-li firstItem {{#if activeShop}}active{{/if}}"><a href="/">My List</a></li>
                <li class="main-header-li {{#if activeAddProduct}}active{{/if}}">
                    <a href="/admin/addProduct">Add Product</a>
                </li>
                <li class="main-header-li {{#if activeAbout}}active{{/if}}"><a href="/about">About Us</a></li>
                <li class="main-header-li {{#if activeDirection}}active{{/if}}"><a href="/direction">Directioin</a></li>
                <li class="main-header-li {{#if activeLogIn}}active{{/if}}"><a href="/login">LogIn</a></li>
            </ul>
        </nav>
    </header>
    {{{ body }}}

</body>

</html>