<%- include('includes/head.ejs') %>
<<<<<<< HEAD

<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/auth.css">
=======
>>>>>>> 43192d1a093e014c1cdc9993e7dd4361458559d0
  </head>
  <body>
    <%- include('includes/navigation.ejs') %>
    
  

    <main>

<<<<<<< HEAD
      <h1 style="color: green; text-align: center; margin: 12px">500 - Errors</h1>

      <% if (errorMessage) { %> 
        <div class="user-message user-message-error"><%= errorMessage %></div>
        <% } %>

=======
      <h1 style="color: green; text-align: center; margin: 12px">502 - Error</h1>
      
>>>>>>> 43192d1a093e014c1cdc9993e7dd4361458559d0
    </main>
    
    <%- include('includes/end.ejs') %>