<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
    <link rel="stylesheet" href="css/mainStyle.css">
  </head>
  <body>
      <header class="main-header">
          <nav clang="main-header-nav">
            <ul class="main-header-ul">
              <li class="main-header-li firstItem"><a href="/">My List</a></li>
              <li class="main-header-li">
                <a href="/admin/addProduct">Add Product</a>
              </li>
              <li class="main-header-li"><a href="/about">About Us</a></li>
              <li class="main-header-li"><a href="/direction">Directioin</a></li>
              <li class="main-header-li active"><a href="/login">LogIn</a></li>
            </ul>
          </nav>
        </header>

    <main>
      <h1>Log In</h1>
      
      <form action="/username" method="POST">
        <input type="text" name="username" /> <br /><br />
        <input type="text" name="password" /><br /><br />
        <button type="submit">LogIn</button>
        <button type="signin">Create New Account</button>
      </form>

    </main>
    
  </body>
</html>
