<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Shop</a></li>
          <li><a href="/admin/addProduct">Add Product</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/direction">Directioin</a></li>
          <li><a href="/login">Log In</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Log In</h1>
      
      <form action="/username" method="POST">
        <input type="text" name="username" /> <br /><br />
        <input type="text" name="password" /><br /><br />
        <button type="submit">LogIn</button>
        <button type="signin">Create New Account</button>
      </form>

    </main>
    
  </body>
</html>
