<%- include('includes/top.ejs') %>


    <main>

      <h1 style="color: green; text-align: center; margin: 12px">404 - Page Not Found</h1>
      
    </main>
    
    <%- include('includes/bottom.ejs') %>